body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}
#navbar{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
   justify-content: space-around;
   list-style-type: none;

}
#nav nav{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
#nav ul{
    gap: 5%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-right: 40px;
    font-size: 20px;

}
#navbar a{
    gap: 30%;
    /* margin-left: 100px; */


}
#nav li{
    margin-right: 10px;
    
}

.caddgoalbutton {
    max-width: 300px;
    margin: 0 auto;
    /* padding: 20px; */
    border: 1px solid #ccc;
    border-radius: 5px;
}
.caddtodobutton input{
    width: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}
.container {
    /* max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    display: flex;
    gap: 30%;
    margin-left: 170px;
    margin-top: 80px;
    color: #9106d1;
}

h1 {
    text-align: center;
    color: #9106d1;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    
}

#logo img{
    width: 80px;
}
 h6{
    position: absolute;
    margin-top: -10px;
    
}
body{
    margin-left: 60px;
    margin-right: 60px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

button {
    
    color: #fff;
    border:2px  palevioletred solid;
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
    color: black;
}
#long-term-goals{
    border:2px  palevioletred solid;
    height: 450px; 
    width: 500px;
}
#short-term-goals{
    border:2px  palevioletred solid;
    height: 450px; 
    width: 500px;
}
#footer{
    display: flex;
    background:  rgb(194, 76, 237);;
    color: black;
    gap: 30%;
    margin-top: 30px;
    height: 190px;
    margin-left: 8px;
    
}
#footer-content3{
    display: flex;

}
@media  only screen and (min-width:280px) and (max-width:768px){
    body {
        font-family: Arial, sans-serif;
        background-color: #f9f9f9;
        margin: 0;
        padding: 0;
    }
    #navbar{
        display: grid;
        flex-direction: row;
        /* align-items: center; */
       justify-content: space-around;
       list-style-type: none;
    
    }
    #nav nav{
        display: grid;
        flex-direction: row;
        list-style-type: none;
    }
    #nav ul{
        gap: 5%;
        display: grid;
        flex-direction: row;
        list-style-type: none;
        padding-right: 40px;
        font-size: 20px;
    
    }
    #navbar a{
        gap: 30%;
        /* margin-left: 100px; */
    
    
    }
    #nav li{
        margin-right: 10px;
        
    }
    
    .container {
        /* max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
        display: grid;
        gap: 30%;
        margin-left: 0px;
        margin-top: 80px;
        color: #9106d1;
    }
    
    h1 {
        text-align: center;
        color: #9106d1;
    }
    
    ul {
        list-style: none;
        padding: 0;
    }
    
    li {
        padding: 10px;
        border-bottom: 1px solid #ddd;
        
    }
    
    #logo img{
        width: 80px;
    }
     h6{
        position: absolute;
        margin-top: -10px;
        
    }
    body{
        margin-left: 0px;
        margin-right: 0px;
    }
    
    input[type="text"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 3px;
    }
    
    button {
        
        color: #fff;
        border:2px  palevioletred solid;
        padding: 10px 20px;
        border-radius: 12px;
        cursor: pointer;
        color: black;
    }
    #long-term-goals{
        border:2px  palevioletred solid;
        height: 450px; 
        width: 360px;
    }
    #short-term-goals{
        border:2px  palevioletred solid;
        height: 450px; 
        width: 360px;
    }
    #footer{
        display: grid;
        background:  rgb(194, 76, 237);;
        color: black;
        gap: 10%;
        margin-top: 300px;
        height: 490px;
        margin-left: 0px;
        
    }
    #footer-content3{
        display: flex;
    
    }
}

@media  only screen and (min-width:770px) and (max-width:1000px){
    body {
        font-family: Arial, sans-serif;
        background-color: #f9f9f9;
        margin: 0;
        padding: 0;
    }
    #navbar{
        display: grid;
        flex-direction: row;
        /* align-items: center; */
       justify-content: space-around;
       list-style-type: none;
    
    }
    #nav nav{
        display: grid;
        flex-direction: row;
        list-style-type: none;
    }
    #nav ul{
        gap: 5%;
        display: grid;
        flex-direction: row;
        list-style-type: none;
        padding-right: 40px;
        font-size: 20px;
    
    }
    #navbar a{
        gap: 30%;
        /* margin-left: 100px; */
    
    
    }
    #nav li{
        margin-right: 10px;
        
    }
    
    .container {
        /* max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
        display: grid;
        gap: 30%;
        margin-left: 0px;
        margin-top: 80px;
        color: #9106d1;
    }
    
    h1 {
        text-align: center;
        color: #9106d1;
    }
    
    ul {
        list-style: none;
        padding: 0;
    }
    
    li {
        padding: 10px;
        border-bottom: 1px solid #ddd;
        
    }
    
    #logo img{
        width: 80px;
    }
     h6{
        position: absolute;
        margin-top: -10px;
        
    }
    body{
        margin-left: 0px;
        margin-right: 0px;
    }
    
    input[type="text"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 3px;
    }
    
    button {
        
        color: #fff;
        border:2px  palevioletred solid;
        padding: 10px 20px;
        border-radius: 12px;
        cursor: pointer;
        color: black;
    }
    #long-term-goals{
        border:2px  palevioletred solid;
        height: 450px; 
        width: 500px;
    }
    #short-term-goals{
        border:2px  palevioletred solid;
        height: 450px; 
        width: 500px;
    }
    #footer{
        display: grid;
        background:  rgb(194, 76, 237);;
        color: black;
        gap: 10%;
        margin-top: 300px;
        height: 490px;
        margin-left: 0px;
        
    }
    #footer-content3{
        display: flex;
    
    }
}

